.KnowYourAlum
{
    /* background-image: linear-gradient(blue,rgb(175, 174, 250),blue,white,blue); */
    margin-right: -11px;
    padding-right: 18px;
    color: black;
}
.image2
{
    width: 100%;
    border-radius: 2pt;
    height:500px;
}
.colitext
{
    text-align: center;
    padding: 90px ;
    /* margin-right: -100px; */
    color: black;
}
.alumhead
{
    padding-top: 10px;
    padding: 70px -30px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color:black;
    line-height: normal;
}
.alumpara
{
    padding: 30px ;
    padding-bottom: 70px;
    color:black;
    line-height: 20pt;
}
.git2
{
    text-align: center;
    margin-top: -50px;
    margin-bottom: -50px;
    background-color: #4747d1;
    border:solid #fff 2px;
    border-radius: 20px;
}
@media (max-width:998px)
{
    .alumhead{
        margin-top: -30px;
    }
}
@media (max-width:918px)
{
    @media (min-width:768px){
    .alumhead{
        margin-top: -95px;
    }   
    .image2{
        height: 470px;
        padding-bottom: -50px;
        width: 110%;
    } 
    .colitext{
        padding-top: 110px;
        margin-bottom: -100px;
        text-align: center;
        /* margin-left: 40px; */
        padding-right: 0px;
    }
    .colimage{
        vertical-align: middle;
    }
    .alumpara{
        padding-bottom: 120px;
    }
    .git2
    {
        padding-top: 10px;
        margin-top: 200px;
    }
    .KnowYourAlum{
        padding-right:  100px;
    }
   }
}
@media (max-width:918px)
{
    @media (min-width:822px){ 
    .image2{
        height: 470px;
        padding-bottom: -50px;
        width:115%;
    } 
    .colitext{
        padding-top: 130px;
        margin-bottom: -100px;
        text-align: center;
        /* margin-left: 40px; */
        padding-right: -30px;
    }
    .colimage{
        vertical-align: middle;
    }
    .alumpara{
        padding-bottom: 70px;
    }
    .git2
    {
        padding-top: 10px;
        margin-top: 200px;
    }
    .KnowYourAlum{
        padding-right:  100px;
    }
   }
}
@media (max-width:768px)
{
    .KnowYourAlum
    {
        padding-right: 20px;
    }
    .image2{
        padding-right: 3px;
        width:104.5%;
    }
    .colitext{
        text-align: center;
    }
}
@media (max-width:1220px)
{
    @media (min-width:1018px){
    .image2{
        height:600px;
        width: 110%;
    }
    .colitext{
        padding-left: 160px;
        padding-top: 110px;
        margin-bottom: -35px;
    }
    .alumpara{
        /* margin-left: 1px; */
        padding-left:1px ;
    }
    .git2{
        margin-left: 10px;
    }
}
}
@media (max-width:1018px)
{
    @media (min-width:940px){
    .image2{
        height:600px;
        width: 110%;
    }
    .colitext{
        padding-left: 110px;
        padding-top: 130px;
        margin-bottom: -35px;
        text-align: center;
    }
    .alumpara{
        /* margin-left: 1px; */
        padding-left:1px ;
    }
    .git2{
        margin-left: 10px;
    }
}
}
@media (max-width:940px)
{
    @media (min-width:918px){
        .image2{
            height:530px;
        }
        .colitext{
            padding-top: 80px;
            margin-bottom: -80px;
        }
    }
}

