::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.top-container{
    display: flex;
    background-image: url("../images/coverphoto1.png");
    background-size: 100%, 100%;   
    background-size: cover;
    background-position: 0px -90px;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    height: 810px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7%;
}
.cover-image{
    /* display: inline-block; */
    position: absolute;
    object-fit:contain;
}
.logo{
    width: 117px;
    position: relative;
    top: 10px;
    margin-top:10px;
    margin-left: 30px;
}
.heading{
    display: inline-block;
    position: relative; /* change*/
    clear: left;
    top: 10px;
    left: 30px;
    bottom: 200px;
}

@media screen and (max-width: 600px) {
    .heading .intro{
      width: 400px;
      font-size: 60px;
    }
    .heading .subheading{
        font-size: 30px;
        width:400px;
    }
  }

.intro{
    font-family: "Poppins", "sans-serif";
    font-weight: 700;
    font-size: 90px;
    margin-bottom:0 ;
    margin-top: 0;  
}
#i0{
    font-size: 3.2rem;
}
#i1{
    color: purple;
}
.subheading{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1.8rem;
    width: 600px;
}
.btn {
  -webkit-border-radius: 22;
  -moz-border-radius: 22;
  border-radius: 22px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #c47dfa;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 30px;
}

.btn:hover {
  background: #8a5fe6;
  text-decoration: none;
}
.categories{
    background-color: yellow;
    height:200px;
}
.slideshow{
    background-color: red;
    height:200px;

}
.feature1{
    background-color: blue;
    height:200px;

}
.feature2{
    background-color: pink;
    height:200px;

}
.footer{
    background-color: black;
    height:200px;

}
@media only screen and (max-width: 800px){
    .top-container{
        background-position: -200px -90px;
    }
}

@media only screen and (max-width: 670px){
    .top-container{
        background-position: -500px -90px;
        width: 100%;
         }
}
@media only screen and (max-width: 400px){
    .top-container{
        background-position: -600px -90px;
        font-size: 40px
    }
    .heading .intro {
        width: 300px;
        font-size: 40px;
      }
      .heading .subheading, #i0{
          font-size: 30px;
          width:300px;
      }
}
