::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #dccdf6 !important;
  box-sizing: border-box;
  overflow-x: hidden;
}
.top-container {
  display: flex;
  background-image: url("../images/coverphoto1.png");
  background-size: 100%, 100%;
  background-size: cover;
  background-position: 0px -90px;
  background-repeat: no-repeat;
  height: 590px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7%;
  /* margin-right: -11px; */
  /* padding-top:10px; */
}
.colimage {
  display: flex;
  background-image: url("../images/Alum.png");
  background-size: 100% 100%;
  background-size: cover;
  /* background-position: 10px 0px; */
  background-repeat: no-repeat;
  /* height: 590px; */
  /* flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; */
  gap: 7%;
}
.cover-image {
  position: absolute;
  object-fit: contain;
}
.logo {
  width: 117px;
  position: relative;
  top: 10px;
  margin-top: 10px;
  margin-left: 30px;
}
.heading {
  display: inline-block;
  position: relative; /* change*/
  clear: left;
  top: 10px;
  left: 30px;
  bottom: 200px;
}
.intro {
  font-family: "Poppins", "sans-serif";
  font-weight: 700;
  font-size: 90px;
  margin-bottom: 0;
  margin-top: 10px;
  color: rgb(34, 56, 68);
}
.topad {
  padding-top: 150px;
}
#i0 {
  font-size: 3.2rem;
}
#i1 {
  color: purple;
  display: inline;
}
.subheading {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.8rem;
  padding-top: 10px;
  width: 600px;
  color: rgb(34, 56, 68);
}
.custombutton1 {
  border-radius: 22px;
  font-family: Arial;
  font-size: 20px;
  padding-top: 200px;
  margin-top: -10px;
  margin-left: -10px;
}
.custombutton2 {
  border-radius: 22px;
  font-family: Arial;
  font-size: 20px;
  padding: 10px;
  margin-top: -10px;
  margin-left: -80px;
}
.btn:hover {
  background-color: yellow;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
/* .animated{
      transform:translateZ(0)!important;
      -webkit-transform:translateZ(0)!important;
      opacity:1!important} */
