.feature1
{
    background-image:linear-gradient(rgb(44, 19, 134),rgb(53, 97, 241));
}
.feahead
{
    padding-top: 70px;
    padding: 70px -30px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    line-height: normal;
}
.feapara
{
    padding: 100px 50px;
    padding-top: 30px;
    color: #fff;
}
.image1
{
    margin-top: 20px;
    height: 450px;
    width: 100%;
    /* margin-bottom: 0px; */
    padding-bottom: 0px;
}
.git
{
    text-align: center;
    margin-top: -50px;
    margin-bottom: 30px;
    background-color: #4747d1;
    border:solid #fff 2px;
    border-radius: 20px;
}
.secrow
{
    text-align: right;
}
.text
{
    text-align: center;
    vertical-align:top;
}
.git:hover{
    background-color: #8585e0;
}
.alig
{
    text-align: center;
}
@media(max-width:978px)
{
    .feapara{
        margin-left: -10px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .image1{
        margin-right: -11px;
    }
}
@media(min-width:992px)
{
    .image1{
        margin-right: -11px;
    }
}
@media (max-width:960px)
{
    @media(min-width:768px){
    .image
    {
        width: 100%;
    }
}
}
@media (max-width:816px)
{
  @media (min-width:768px){
   .git{
      margin-top:-100px;
   }
  }   
}
@media (max-width:1228px)
{
  @media (min-width:768px){
    .text{
      margin-top: -30px;
      margin-bottom: -500px;
  }   
}
}