<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="css/footer.css" />
  </head>
  <body>
    <div class="footer">
      <div class="footer-icons">
        <h1>Senior Circle</h1>
        <div class="icons-list">
          <img
            src="https://img.icons8.com/ios-filled/50/000000/facebook--v1.png"
          />
          <img
            src="https://img.icons8.com/ios-filled/50/000000/instagram-new.png"
          />
          <img src="https://img.icons8.com/ios-filled/50/000000/linkedin.png" />
          <img src="https://img.icons8.com/ios-filled/50/000000/twitter.png" />
        </div>
        <p>Contact Us hello@seniorcircle.com</p>
        <p>© Copyright 2021-</p>
      </div>
      <div class="footer-links">
        <div class="link-wrapper">
          <div>
            <h3>Quick Links</h3>
            <ul>
              <li>Lorem</li>
              <li>Lorem</li>
              <li>Lorem</li>
              <li>Lorem</li>
              <li>Lorem</li>
            </ul>
          </div>
          <div>
            <h3>About</h3>
            <ul>
              <li>Lorem</li>
              <li>Lorem</li>
              <li>Lorem</li>
              <li>Lorem</li>
              <li>Lorem</li>
            </ul>
          </div>
          <div>
            <h3>Recent Posts</h3>
            <ul>
              <li>Lorem</li>
              <li>Lorem</li>
              <li>Lorem</li>
              <li>Lorem</li>
              <li>Lorem</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
