<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/login.css" />
    <title>Authentication</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="../images/logoff2.png" alt="logo" />
      </header>
      <div class="content-wrapper">
        <div class="illustration">
          <img src="../images/job-intern.jpg" alt="job-illustration" />
        </div>
        <div class="info">
          <div class="info-content">
            <h2>Create your account</h2>
            <span> Created for students by students</span>
            <div class="text-field" id="firstname">
              <img
                src="https://img.icons8.com/ios-glyphs/30/000000/name.png"
                alt="icon"
              />
              <input
                placeholder="First Name"
                type="text"
                tabindex="1"
                class="input-field"
                value=""
              />
            </div>
            <div class="text-field" id="lastname">
              <img
                src="https://img.icons8.com/ios-glyphs/30/000000/name.png"
                alt="icon"
              />
              <input
                placeholder="Last Name"
                type="text"
                tabindex="1"
                class="input-field"
                value=""
              />
            </div>
            <div class="text-field" id="username">
              <img
                src="https://img.icons8.com/ios-glyphs/30/000000/name.png"
                alt="icon"
              />
              <input
                placeholder="User Name"
                type="text"
                tabindex="1"
                class="input-field"
                value=""
              />
            </div>
            <div class="text-field" id="password">
              <img
                src="https://img.icons8.com/ios-glyphs/30/000000/name.png"
                alt="icon"
              />
              <input
                placeholder="Password"
                type="password"
                tabindex="1"
                class="input-field"
                value=""
              />
            </div>
            <div class="text-field" id="confirm_pass">
              <img
                src="https://img.icons8.com/ios-glyphs/30/000000/name.png"
                alt="icon"
              />
              <input
                placeholder="Confirm Password"
                type="password"
                tabindex="1"
                class="input-field"
                value=""
              />
            </div>
            <label
              id="default"
              role="checkbox"
              tabindex="1"
              aria-checked="false"
            >
              <div>
                <input type="checkbox" tabindex="0" style="width: 15px" />
              </div>
              <div>
                <span>I agree to the Terms &amp; Conditions</span>
              </div></label
            >
            <button><h3>Create my account</h3></button>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/login.js"></script>
  </body>
</html>
