@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: white;
  margin: 0;
}
header {
  align-items: center;
  margin-bottom: 2em;
}
header img {
  display: block;
  margin: 1em auto;
  width: 100px;
}
.content-wrapper {
  display: flex;
  gap: 1em;
}
.content-wrapper .illustration {
  width: 50%;
  display: inline-block;
}
.content-wrapper .illustration img {
  width: 100%;
}
.content-wrapper .info {
  width: 50%;
  /* background-color: #922fc0; */
  border-radius: 2em;
  margin: 0 1em;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  justify-content: center;
}
.content-wrapper .info .info-content {
  color: black;
  font-family: Manrope, sans-serif;
  font-weight: bold;
  border-radius: 2em;
  margin: 1em 2em 0;
  text-align: center;
  justify-content: center;
}

.info-content span {
  margin: 2em 0;
  display: block;
}
.info-content .text-field {
  /* background-color: #955bb0; */
  justify-content: center;
  margin: 1em 0;
  display: flex;
  gap: 0.5em;
  padding: 0.4em;
  /* border: solid grey 1px; */
  border-radius: 5px;
}
input {
  color: black;
  background-color: transparent;
  border: 2px solid rgb(47, 1, 61);
  border-radius: 4px;
  padding: 0.625em;
  width: 80%;
}
input::placeholder {
  color: black;
}
label {
  display: flex;
  align-items: center;
  gap: 1em;
}
button {
  align-self: center;
  display: block;
  margin: 1em auto;
  /* background-color: #db42ba; */
  border: none;
  padding: 1em;
  border-radius: 5px;
}
button h3 {
  margin: 0;
  padding: 0;
  font-family: Manrope, sans-serif;
  color: black;
  font-size: 1.5625em;
}
@media screen and (max-width: 742px) {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
  .content-wrapper .illustration {
    width: 100%;
  }
  .content-wrapper .info {
    width: 100%;
    margin: 1em;
  }
}


.linkedinButton{
  text-decoration: none;
  color: white;
  border: 1px  solid white;
  padding: 3px 8px;
  background-color: #0072b1;
  font-weight: bold;
  border-radius: 5px;  
  transition: transform 2ms;
}  

.linkedinButton:hover{
  padding: 5px 10px;
}


.googleButton{
  font-size: 15px;
  padding: 2px 2px;
}

.googleButton:hover{ 
  font-size: 18px;
  padding: 0 5px;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; 
}

.buttonsDiv a{
margin:0 5px ;
} 
