.solid-nav {
  background-color: #aaa;
  transition: background-color 0.2s linear;
}
.circle {
  border-radius: 40px;
  object-fit: cover;
}
nav.navbar {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}

nav.navbar.transparent {
  background-color: rgba(0, 0, 0, 0);
}



.bodyy{
  background-color: #63b4b8;
}

.ulCategories{
  margin: auto;
}

#navbar{
  font-size: 120%; font-weight: 500;
}

.logoImage{
  width: 76.5px; height: 60.7px;
}

